@{
    ViewData["Title"] = "Routing";
}

<h1>Routing</h1>
<table class="table">
    <thead>
        <tr>
            <td>Topic</td>
            <td>Details</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Routing Basics Recap</td>
            <td>Review MVC and Razor pages routing</td>
        </tr>
        <tr>
            <td><a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-9.0#conventional-routing" target="_blank">Conventional routing</a></td>
            <td>Typical pattern, defaults and parameters</td>
        </tr>
        <tr>
            <td><a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-9.0#attribute-routing-for-rest-apis" target="_blank">Attribute routing</a></td>
            <td>Using attributes to define routes</td>
        </tr>
        <tr>
            <td><a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-9.0#specifying-attribute-route-optional-parameters-default-values-and-constraints" target="_blank">Route constraints</a></td>
            <td>Restricting routes with constraints</td>
        </tr>
        <tr>
            <td><a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper?view=aspnetcore-9.0" target="_blank">Navigation Between Pages</a></td>
            <td>Navigation Between Pages</td>
        </tr>
        <tr>
            <td><a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-9.0#url-generation-and-ambient-values" target="_blank">URL Generation Helpers</a></td>
            <td>URL Generation Helpers</td>
        </tr>
        <tr>
            <td><a href="https://learn.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-9.0#conventional-routing-order" target="_blank">Route priorities</a></td>
            <td>How does ASP resolve route conflicts.</td>
        </tr>
    </tbody>
</table>
