@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-5">
    <div class="container">
        <h1 class="display-3 fw-bold text-primary">Welcome!</h1>
        <p class="lead mt-4">
            Learn about 
            <a href="https://learn.microsoft.com/aspnet/core" class="link-primary text-decoration-none">
                building Web apps with ASP.NET Core
            </a>.
        </p>
        <div class="mt-5">
            <a href="#" class="btn btn-primary btn-lg px-5">Get Started</a>
            <a href="#" class="btn btn-outline-secondary btn-lg px-5 ms-3">Documentation</a>
        </div>
    </div>
</div>